@use "base/variables" as v;

.nav--responsive{
    background-color: v.$colorTexto;
    color: v.$colorBlanco;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}