
$fuentePrincipal: 'Work Sans', sans-serif;
$fuenteSecundaria: 'Righteous', sans-serif;


///colores

$colorBg : #1e2326;
$colorBg2: #252A2E;
$colorBg3: #131517;
$colorTexto: #1CB698;
$colorBlanco: #fff;
